@import "~taro-ui/dist/style/components/tabs.scss";

form {
    text-align: center;
    margin-top: 70px;
    position: absolute;
    width: 100%;
}

.column {
    display: inline-block;
}

.section {
    font-size: 0.7rem;
    width: 95%;
    text-align: center;
    border-bottom: 1px solid #aaaaaa;
    margin: 0 auto;
    line-height: 1.6rem;
}

.section_gap {
    margin-top: 160px;
}

.content-area {
    width: 95%;
    position: fixed;
    left: 2.5%;
    top: 0;
    background: white;
}

button {
    font-size: 0.6rem;
    height: 1.8rem;
    line-height: 1.8rem;
    width: 20%;
    margin-left: 10px;
}

// picker {
//     font-size: 0.8rem;
//     height: 1.5rem;
//     line-height: 1.5rem;
//     width: 20%;
//     float: left !important;
//     border: 1px solid #dddddd;
// }

.check-box {
    zoom: 60%;
}

.info-board {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 70%;
    background: rgba(240, 240, 240, 0.8);
    text-align: left;
    overflow-y: scroll;
    padding-left: 1%;
    padding-right: 1%;
}

.button-area {
    width: 95%;
    height: auto;
    margin-top: 3%;
}

.show {
    display: block;
}

.hide {
    display: none;
}

.scroll {
    overflow-y: scroll;
}

.search_box {
    width: 95%;
    position: fixed;
}

.search_text {
    width: 70%;
}

.search_btn {
    width: 20%;
}

.left {
    float: left;
}

.right {
    float: right;
}

.inline {
    display: inline !important;
}